.main-block {
    margin: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  
    &__item {
      margin-bottom: 50px;
  
      .item__info {
        width: 320px;
        cursor: pointer;
        user-select: none;
  
        &-title {
          display: flex;
          height: 44px;
          margin-bottom: -1px;
  
          .corner {
            position: relative;
            width: 43px;
            background: linear-gradient(-45deg, #fff, #fff 28.5px, #1698d9 0, #1698d9 32px, transparent 0);
          }
  
          .rectangle {
            flex-grow: 1;
            padding: 15px 0 0 8px;
            border: 4px solid #1698d9;
            border-bottom: none;
            border-left: none;
            border-radius: 0 12px 0 0;
            background-color: #fff;
          }
        }
  
        &-subtext {
          position: relative;
          z-index: 10;
          overflow: hidden;
          width: 100%;
          height: 437px;
          margin-bottom: 15px;
          padding: 0 46px;
          border: 4px solid #1698d9;
          border-top: none;
          border-radius: 0 0 10px 10px;
          background-color: #fff;
  
          span {
            display: block;
            color: #666;
            font-size: 14px;
            line-height: 16px;
          }
  
          h2 {
            margin-bottom: 15px;
            font-size: 48px;
  
            span {
              color: #000;
              display: block;
              font-size: 24px;
            }
          }
          
          &-img {
            position: absolute;
            z-index: 0;
            top: 160px;
            right: -29px;
            width: 370px;
          }
  
          &-weight {
            position: absolute;
            bottom: 15px;
            right: 15px;
            width: 81px;
            height: 81px;
            border-radius: 50%;
            background-color: #1698d9;
            text-align: center;
            
            
            span {
              position: relative;
              top: 20px;
              font-size: 42px;
              line-height: 22px;
              color: #fff;
            }
  
            span + span {
              font-size: 21px;
            }
          }
        }
  
        &:hover {
            .item__info {
                &-title {
                  .corner {
                    background: linear-gradient(-45deg, #fff, #fff 28.5px, #2ea8e6 0, #2ea8e6 32px, transparent 0);
                  }
                  .rectangle {
                    border-color: #2ea8e6;
                  }
                }
                &-subtext {
                    border-color: #2ea8e6;
                    &-weight {
                        background-color: #2ea8e6;
                    }
                }
            }
        }

        &.selected {
            .item__info {
                &-title {
                    .corner {
                        background: linear-gradient(-45deg, #fff, #fff 28.5px, #d91667 0, #d91667 32px, transparent 0);
                    }
                    .rectangle {
                        border-color: #d91667;
                    }
                }
                    &-subtext {
                        border-color: #d91667;
                        &-weight {
                            background-color: #d91667;
                        }
                    }

            }
            
            &:hover {
                .item__info {
                    &-title {
                        .corner {
                            background: linear-gradient(-45deg, #fff, #fff 28.5px, #e62e7a 0, #e62e7a 32px, transparent 0);
                        }
                        .rectangle {
                            border-color:#e62e7a;
                        }
                    }
                        
                    &-subtext {
                        border-color: #e62e7a;
                        &-weight {
                            background-color: #e62e7a;
                        }
                    }
                }
            }
        }

        &.disabled {
            cursor: default;
            color: hsla(0,0%,70%,.5);
            .item__info {
                &-title {
                    .corner {
                        background: linear-gradient(-45deg, #fff, #fff 28.5px, #b3b3b3 0, #b3b3b3 32px, transparent 0);
                    }
                    .rectangle {
                        border-color: #b3b3b3;
                    }
                }
                &-subtext {
                    border-color: #b3b3b3;

                    & > span {
                        color: inherit;
                    }

                    & > h2 {
                        span {
                            color: inherit;
                        }
                    }
                    
                    &-weight {
                        background-color: #b3b3b3;
                    }

                    &-img {
                        opacity: .5;
                      }
                }
            }
        }


    }
  
        .item__subtext {
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #fff;

            & > .disabled {
                color: #ffff66;
            }
  
            &-buy {
                cursor: pointer;
                color: #1698d9;
                border-bottom: 1px dashed currentColor;
            }
        }
    }
}